@charset "UTF-8";

@media screen and (min-width: 798px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #4D8F99, #5E2D82);
    }
    
    section#login{
        width: 65vw;
        height: 75vh;
    }

    div#imagem{
        float: left;
        height: 100%;
        width: 40%;
    }

    div#formulario{
        float: right;
        height: 100%;
        width: 60%;
    }
}

@media screen and (min-width: 990px){

    body{
        background-image: linear-gradient(to top, #4D8F99, #5E2D82);
    }

    section#login{
        width: 65vw;
        height: 350px;
     }

    div#imagem{
        float: right;
        height: 100%;
        width: 50%;
    }

    div#formulario{
        float: left;
        height: 100%;
        width: 50%;
    }

    #formulario > p{
    font-size: 1em;
    margin: 20px 0px;
    }

}